// General Styles
* {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Oswald", sans-serif;
  background: var(--bg);
  color: var(--color);
}

a {
  text-decoration: none;
  color: var(--color);
}

ul {
  list-style: none;
}

h2,h3,h4 {
  text-transform: uppercase;
}


.container {
  padding: 0 15rem;
  margin: auto;
}

.align-right {
  margin-left: 25%;
  padding: 2rem;
}


.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

#main {
  position: absolute;
  height: 100%;
  width: 100%;
}
 
