#about {
  &-a {
  display: flex;
  align-items: center;
  height: 90%;

    .container {
    #title {
        border-bottom: solid var(--color);
        margin-bottom: 2em;
      }

      img{
        display: block;
        margin-right: auto;
        height: 75%;
        width: 75%;
      }
      }
    }
  }

