#contact {
  display: flex;
  height: 80%;
  .container {
    display: grid;
    grid-template-areas:
    "name" "name"
    "email" "email"
    "subject" "subject"
    "message" "message";
    grid-gap: 4rem;
    label, input, textarea,{
      width: 100%;
      padding: 0.4rem;
      margin-bottom: 1em;
      border-radius: 5px;
      border-color: var(--color);
      background: var(--bg);
      color: (var(--color));
    }
    textarea {
      height: 70%;
    }

    button {
      width: 200px;
      height: 60px;
    }
  }
}
