// Smartphones
@media(max-width: 500px) {
.mode-toggle {
    margin-top: 6rem;
  }

#theme-switch {
    padding-left: 1.5rem;
    #label {
      &-light {
        display: none;
      }
      &-dark {
        display:none;
      }
    }
  }

  #header {
    display: fixed;
    overflow: auto;
    &-home {
      .container {

      place-items: flex-start;
        height: 812px;
        width: 100px;
      }

      h1 {
        font-size: 2rem;
      }
      a, p{
        font-size: 0.8rem;
      }
      
      .copyright {
      padding-top: 20rem;
      padding-left: 1rem;
      width: 70px
      }
    }
  }

// Home
  #home {
    height: 90%;
    &-a {
      .container {

        padding: 0 2rem;
        display: grid;
        grid-template-areas:
          "personal-image"
          "resume";
          grid-gap: 2rem;

        h1 {
          font-size: 2rem;  
        }
      }
    }
  }



// About
#about {
  &-a {

  height:90%;
  .container {
    padding: 0 2rem;
  }
  }
}
}
// Contact Me
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  .container {
    padding: 0 2rem;
    grid-gap: 2rem;
  }
}
