// Smartphones
@media(max-width: 500px) {

  #header {
    display: fixed;
    &-home {
      .container {
        height: 812px;
        width: 100px;
      }

      h1 {
        font-size: 2rem;
      }
      a {
        font-size: 0.8rem;
      }
    }
  }

  #main-nav{
    .copyright {
      font-size: 0.8rem;
    
    }
  }



// Home
  #home {
    height: 90%;
    &-a {
      .container {

        padding: 0 2rem;
        display: grid;
        grid-template-areas:
          "personal-image"
          "resume";
          grid-gap: 2rem;

        h1 {
          font-size: 2rem;  
        }
      }
    }
  }



// About
#about {
  &-a {

  height:90%;
  .container {
    padding: 0 2rem;
  }
  }
}
}
// Contact Me
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  .container {
    padding: 0 2rem;
    grid-gap: 2rem;
  }
}
