
#header {
  &-home {
    text-align: center;
    position: fixed;

    .container {
      display: grid;
      place-items: center;
      background: black; //TODO change color var
      position: fixed;
      height: 100%;
      width: 25%;
      margin: 0;
      padding: 0;
    }

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

#main-nav {
  padding-top: 1rem;
  display: flex;
  li {
    padding: 1rem 1.5rem;
  }

  a {
    
    //color: #767676;
    text-decoration: none;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
  
    &:hover {
      color: #f4f4f4;
    }
  }
}

